@model collegeCompanionApp.Models.SearchResult

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SearchResult</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CompanionUser.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanionUser.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StateName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StateName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Accreditor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Accreditor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ownership)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ownership)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ZipCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZipCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Degree)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Degree)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DegreeType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DegreeType)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SearchResultsID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
