@model collegeCompanionApp.Models.College

@{
    ViewBag.Title = "CollegeSearch";
}

<div class="container">
    <h2>Colleges</h2>
    <hr />
    <table class="table table-striped">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.CityName)</th>
                <th>@Html.DisplayNameFor(model => model.StateName)</th>
                <th>@Html.DisplayNameFor(model => model.CollegeName)</th>
                <th>@Html.DisplayNameFor(model => model.Focus)</th>
                <th>@Html.DisplayNameFor(model => model.Accreditor)</th>
                <th>@Html.DisplayNameFor(model => model.Ownership)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Html.DisplayFor(model => model.CityName)</td>
                <td>@Html.DisplayFor(model => model.StateName)</td>
                <td>@Html.DisplayFor(model => model.CollegeName)</td>
                <td>@Html.DisplayFor(model => model.Focus)</td>
                <td>@Html.DisplayFor(model => model.Accreditor)</td>
                <td>@Html.DisplayFor(model => model.Ownership)</td>
            </tr>           
        </tbody>
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CollegeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
