@model IEnumerable<collegeCompanionApp.Models.SearchResult>
@{
    ViewBag.Title = "SaveDataList";
}

<h2 style="margin-top:2em;text-align:center">@User.Identity.Name's Saved Colleges</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CompanionUser.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StateName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Accreditor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ownership)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ZipCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Degree)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DegreeType)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CompanionUser.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StateName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Accreditor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ownership)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZipCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Degree)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DegreeType)
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.SearchResultsID })
            </td>
        </tr>
    }

</table>

