@model collegeCompanionApp.Models.CollegeFavorite

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CollegeFavorite</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.College.CollegeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.College.CollegeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Party.PartyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Party.PartyName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CollegeFavoriteID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
